{% extends 'base.html.twig' %}

       {% block body %}
           <div class="row unMargin">
            {{ form_start(form) }}
            {{ form_widget(form.input) }}
            <button class="btn btn-light" type="submit">search</button><br>
            {{ form_end(form) }}
           </div>
           <div style="display: flex; flex-wrap: wrap; padding: 20px; margin: 100px; margin-top: 20px">
               {% for movie in movies.results %}
                   <div class="card" style="width: 18rem; padding: 10px">
                       <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" class="card-img-top" alt="...">
                       <div class="card-body">
                           <h4 class="card-title"><a> {{ movie.original_title }}</a></h4><br>
                           <h6>Date sortie film:</h6>
                           <h6 class="card-title"><a>{{ movie.release_date }}</a></h6><br>
                           <table>
                               <tr>
                                   <td>
                                       {% set formView = formFav.createView() %}
                                       {{ form_start(formView) }}
                                       {{ form_widget(formView.idFilm, {'attr': {'value': movie.id }}) }}
                                       {{ form_widget(formView.userId, {'attr': {'value': user.mail }}) }}
                                       <input class="btn btn-primary" href="{{ path('app_favori', {'movies_id': movie.id}) }}" type="submit" value="Ajouter au favoris">
                                       {{ form_end(formView) }}
                                   </td>
                                   <td>
                                       {% set formView = formAvis.createView() %}
                                       {{ form_start(formView) }}
                                       {{ form_widget(formView.idFilm, {'attr': {'value': movie.id }}) }}
                                       <input class="btn btn-primary" href="{{ path('app_avis', { 'movies_id': movie.id }) }}" type="submit" value="Avis film">
                                       {{ form_end(formView) }}
                                   </td>
                               </tr>
                           </table>
                           <br>
                           <p class="card-text">{{ movie.overview }}</p>
                       </div>
                       <table style="bottom: 0">
                           <tr>
                               <td>
                                   <h6 class="card-title"><a>Note: {{ movie.vote_average }}/10</a></h6>
                                   <h6 class="card-title"><a>Nombre d'avis: {{ movie.vote_count }}</a></h6><br>
                               </td>
                               {#<td>
                                   <h6 class="card-title"><a>Nombre d'avis: {{ movie.vote_count }}</a></h6><br>
                               </td>#}
                           </tr>
                       </table>
                   </div>
               {% endfor %}
               <div class="fixed-top" style="margin: 10px; margin-top: 80px;">
                   {% if (pagesPrecedente > 0) %}
                       <button class="btn btn-primary float-start"> <a style="color: white" href="{{ path('app_movie_list', {'id': pagesPrecedente})}}">Précédent</a></button>
                   {% endif %}
                   <button class="btn btn-primary float-end"> <a style="color: white" href="{{ path('app_movie_list', {'id': id})}}">Suivant</a></button>
               </div>
           </div>
       {% endblock %}