{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <h1>Create new Utilisateur</h1>

    {{ form_start(form) }}
    {# utilisation de classes bootstrap pour la mise en forme #}
    <div class="row">
        <div class="col-12">
            <p>Mail : </p>
            {{ form_widget(form.mail) }}
        </div>
        <div class="col-12">
            <p>Username : </p>
            {{ form_widget(form.username) }}
        </div>
        <div class="col-12">
            <p>Mot de passe : </p>
            {{ form_widget(form.password) }}
        </div>

    </div>
    <button class="btn btn-success" type="submit">Envoyer</button>
    {{ form_end(form) }}

    <a href="{{ path('acceuil') }}"> Back to home </a>
{% endblock %}
